
* {
    margin: 0% ;
    border:  0% ;
}

body {
    background-color: #dce7c3;
}

h1 { 
    color: rgb(165, 15, 15); 
} 

h2 { 
    color: rgb(199, 32, 32);
}

h3 {
    color: rgb(201, 33, 33);
}

table , th , tr , td { 
    background-color: rgb(196, 218, 206);
    border: 2px solid #3d3d3d;
    border-collapse: collapse
    padding 10px ;
}

th {
    color: rgb(44, 4, 82) ;
}

#attribute-structure {
    color: rgb(18, 4, 109) ;
}

.field-set {
    width: fit-content;
    height: fit-content;
    background-color: rgba(164, 212, 192, 0.274);
    color: #3d3d3d;
    border-radius: 1% ;
}

.legend {
    color: black;
    background-color: beige;
}

nav {
    border : dotted #3d3d3d;
    margin: 0% ;
    margin-left: 20%;
    margin-right: 20%;
    background-color:rgba(164, 212, 192, 0.274);
    width: fit-content;
    height: fit-content;
    padding: 2%;
}

div {
    border: 0% #3d3d3d;
    margin: 0%;
    padding-left: 20% ;
    padding-right: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
}

p {
    text-indent: 2rem ;
}

